.kasino-footer {
    .container {
        background: url(../images/footer-bg.jpg) center center no-repeat;
        font-family: 'Lobster', cursive;
        color: white;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 42px;
            background: url(../images/footer-nav.png) center bottom no-repeat;
            background-size: 100% auto;
        }
    }
    img {
        max-height: 35px;
        vertical-align: text-bottom
    }
}
.kasino-copyright {
    padding: 10px 19px;
}