.navbar {
    border: none;
}
.navbar-header {
    float: inherit;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.navbar-brand {
    float: initial;
    display: inline-block;
    max-width: 360px;
}
.navbar-collapse.collapse {
    background: url(../images/menu.jpg) center center;
    position: relative;
}
.navbar-collapse.collapse {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 42px;
        top: 100%;
        background: url(../images/nav.png) center top no-repeat;
        background-size: 100% auto;
    }
}
.navbar-toggle {
    border-color: #e70d00;
    margin-top: 10px;
    margin-right: 0;
    background: #e70d00;
    .icon-bar {
        background: #FFFFFF;
    }
}
.search-toggle {
    position: absolute;
    top: 18px;
    right: 30px;
    width: 22px;
    height: 22px;
    background: url(../images/search-icon.png) center center no-repeat;
}
.kasino-search-form {
    display: none;
    position: absolute;
    width: 280px;
    right: 19px;
}

@include md_tablet {
    .search-toggle {
        display: none;
    }
    .kasino-search-form {
        display: block;
        position: relative;
        width: auto;
        right: inherit;
    }
    .navbar-collapse.collapse {
        background: none;
        &:before {
            display: none;
        }
    }
    .navbar-nav {
        background: #e70d00;
        padding: 0 15px;
    }
}
@include xxs {
    .navbar-brand {
        max-width: calc(100% - 70px);
    }
    .navbar-collapse.collapse {
        padding: 0 !important;
    }
    .navbar-collapse.in {
        margin: 0;
    }
    .navbar-nav {
        padding: 0 !important;
        margin: 0;
    }
}